* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background: #3b5999;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.word-display {
    margin-top: 3rem;
    font-size: 80px;
}

.word-input-box {
    margin-top: 2rem;
}

.word-input {
    padding: 0.5rem;
    width: 300px;
}

.game-info {
    margin-top: 2rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#time, #score {
    font-size: 20px;
}

button {
    width: 200px;
    height: 35px;
    background-color: #3b5999;
    color: #fff;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.loading {
    background-color: #ccc;
    cursor: default;
}

.red {
    color: red;
}

#finalScore {
    margin-top: 2rem;
    font-size: 60px;
}

.loadwords {
    cursor: progress;
}